<h1>Welcome to Foodmonom!</h1></br></br>

<p>Brought to you by Valerie Shoskes<br/><br/>

<a href="/restaurants">Restaurants</a></br>
<a href="/reviews">Reviews</a></br><br/>

Features coming up:<br/><br/>

Search by Cuisines and Dietary Restrictions<br/>
Recipe Sharing<br/>
Rating individual menu items</br>
CMM snack inventory<br/><br/>

Hosted on <a href="https://github.com/valerieshoskes/foodmonom">GitHub</a></p>
